@model Expense_Tracker.Models.RegisterViewModel
@{
    ViewData["Title"] = "Реєстрація";
}



<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#212b36; width: 130%;">
            <h3 class ="text-light mb-4">Реєстрація</h3>

            <form asp-action="Register" method="post">
                <div class="form-group">
                    <label>Ім'я користувача</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Повторіть пароль</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Зареєструватися</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
