@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Помилка</h1>
<h2 class="text-danger">Сталась помилка під час обробки вашого запиту.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Запит ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим розроника</h3>
<p>
    Перемикаємо в режим <strong>РОЗРОБНИКА</strong>. Вам буде показано більш детальну інформацію про помилку.
</p>
<p>
    <strong>Середовище розробки не повинно бути увімкнене для розгорнутих додатків.</strong>
    Це може призвести до відображення конфіденційної інформації про винятки кінцевим користувачам.
    Для локального налагодження увімкніть середовище <strong>Розробки</strong>, встановивши змінну середовища <strong>ASPNETCORE_ENVIRONMENT</strong> на значення <strong>Development</strong>
    і перезапустіть сайт.
</p>
